{% extends 'base.html'%}

{% block body %}

<style>
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }

  .people li {
  display: inline;
  white-space: nowrap
}

ul.people {
  padding:0;
  margin:0;
}

  </style>

{{ macros.header("TEAM PICKER", "Check which team is the best on a given map!", "/") }}
<div class="px-4 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Current events</h1>
    <div class="col-lg-6 mx-auto">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col" style="width: 0">Mode</th>
            <th scope="col">Map</th>
            <th scope="col">Battles</th>
          </tr>
        </thead>
        <tbody>
            {% for i in range(0, len) %}
                <tr>
                    <td class="align-middle">
                      <img src='/static/img/modes/{{current_events[i]["event"]["mode"]|upper}}.jpg' alt='{{current_events[i]["event"]["mode"]|upper}}' loading="lazy" style="max-width:20%; min-width:50px; border-radius:20%">
                    </td>
                    <td class="align-middle">                      
                      {% if battleNumber[current_events[i]["event"]["mode"]][current_events[i]["event"]["map"]]!="N/A" %}
                      <a  class="link-info" href='/teampicker/{{current_events[i]["event"]["mode"]}}/{{current_events[i]["event"]["map"]}}'>
                      {{current_events[i]["event"]["map"]|upper}}
                      </a>
                      {% else %}
                      {{current_events[i]["event"]["map"]|upper}}
                      {% endif %}                    </td>
                    <td class="align-middle">                      
                      {{battleNumber[current_events[i]["event"]["mode"]][current_events[i]["event"]["map"]]}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    
  </div>

  <div class="b-example-divider"></div>



  <div class="container col-md-8">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      {% for i in range(0, len) %}
    <div class=" col-sm-12 col-lg-6">
  <div class="container" style="padding-left: 0px; padding-right: 0px;">

    <div class="row bg-info border border-3 rounded-5 border-dark">
      <div class="col-sm-12 text-center">                      
        <img src='/static/img/modes/{{current_events[i]["event"]["mode"]|upper}}.jpg' alt='{{current_events[i]["event"]["mode"]|upper}}' loading="lazy" style="max-width:50px; min-width:50px; border-radius:20%">
        <h4 class="display-8 fw-bold">{{current_events[i]["event"]["map"]|upper}}</h4>
      </div>
      <div class="col-6" style="padding-left: 0px; padding-right: 0px;">

        <table id="footable" class="table" data-sorting="true" data-paging="true" data-paging-size="5" data-paging-limit="3">
          <thead class="table-dark">
          <tr class="item">
            <th scope="col" class="align-middle" data-sortable="false">Brawlers</th>
            <th scope="col" class="align-middle" data-sortable="false">Win</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(0, 3) %}

              <tr>
                <td style="width:0">
                  <div class="container" style="padding-left: 0px; padding-right: 0px;">

                        <ul class="people">
                          <li>
                            <img src='/static/img/brawlers/LEON.jpg' style="max-width:20%; min-width:30px; border-radius:20%">
                          <li>
                            <img src='/static/img/brawlers/GROM.jpg' style="max-width:20%; min-width:30px; border-radius:20%">
                          <li>
                            <img src='/static/img/brawlers/PIPER.jpg' style="max-width:20%; min-width:30px; border-radius:20%">
                        </ul>

                    </div>
                    </td>
                    <td>
                      43%
                    </td>

            </tr>
            {% endfor %}
        </tbody>
      </table>
      {% set map = current_events[i]["event"]["map"]|upper %}
      {% set mode = current_events[i]["event"]["mode"]|upper %}

      <button type="button" class="btn btn-dark btn-lg px-4 me-md-2 rounded rounded-5" onclick='location.href="/teampicker/{{mode}}/{{map}}"' style="width:100%;">Details</button>
      </div>
      <div class="col-6 has-bg-img bg-purple bg-blend-multiply" style="padding-left: 0px; padding-right: 0px; background-image: url('/static/img/maps/{{map}}.jpg');   background-size: 100% 100%;">
      </div>
    </div>
  </div>
  </div>
  {% endfor %}

  </div>
  </div>

  <style>
    .footable-page-link{  
    background-color: black !important;
    }
  </style>
  {% endblock body %}